.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-weight: 500;
}
.btnWrapper {
    display: flex;
    flex-direction: column;
    /*margin: 15px;*/
    padding-bottom: 15px;
    font-weight: 500;
}

.sliderWrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
    /*margin: 15px;*/
    padding-bottom: 15px;
    font-weight: 500;
}